{% extends "FerSifpeBundle::layout.html.twig" %}

{% block title "Empresa" %}

{% block content_header '' %}

{% block content %}
    <div class="container" ng-app="sifpeApp">
        <div ng-view=""></div>
    </div>
{% endblock %}


{% block content_headclose %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<link rel="stylesheet" href="{{ asset('bundles/fersifpe/css/daterangepicker-bs2.css') }}">
{% endblock %}

{% block content_bodyclose %}
<script type="text/javascript">
    var config_data = {
        'GENERAL_CONFIG': {
            'ENTITY_TIPO': 'empresa'
        }
    };
</script>
<script type="text/javascript" src="{{ asset('bundles/fersifpe/js/highcharts-ng.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fersifpe/js/momentlangs.min.js') }}"> </script>
<script type="text/javascript" src="{{ asset('bundles/fersifpe/js/daterangepicker.js') }}"> </script>
<script type="text/javascript" src="{{ asset('bundles/fersifpe/js/empresa_app.js') }}"> </script>
{% endblock %}
