<!DOCTYPE html>
<html lang="es">
<head>
    {% block head %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}"/>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="http://code.highcharts.com/highcharts-more.js"></script>
        <script src="http://code.highcharts.com/modules/exporting.js"></script>
    {% endblock %}
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar">

<header>
    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="./index.html">SIFPE v5</a>
            </div>
        </div>
    </div>

</header>


{% block body %}
<div class="container">
    <h1>{% block title 'SIFPE v5' %}</h1>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}

    {% block content_header %}
        <ul id="menu">
            {% block content_header_more %}
                <li><a href="{{ path('_demo') }}">Demo Home</a></li>
            {% endblock %}
        </ul>

        <div style="clear: both"></div>
    {% endblock %}

    <div class="block">
        {% block content %}{% endblock %}
    </div>
</div>
{% endblock %}


<script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fersifpe/js/angular.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fersifpe/js/angular-resource.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fersifpe/js/options-proxy.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fersifpe/js/highcharts-ng.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fersifpe/js/app.js') }}"> </script>
</body>
</html>